@import url(./reset.css);
/* Set the desired font from google fonts, or adobe fonts here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

/*this is an addition to the code*/

/* GLOBALS */
body{
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    /* 
    100,400,700,900 weights available. Add differrent 
    weights to the classes or elements that are needed 
     */
    font-weight: 400;
    font-style: normal;
    color:white;
}

a {
    text-decoration: none;
    color:white;
}

p{
    margin:10px 50px 10px 0px;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

h2{
    font-size:1.2rem;
    font-weight: 900;
    margin-bottom:10px;
}

h2 + ul {
    list-style-type: circle;
    margin-bottom:10px;
}

h2 + ul > li {
    margin-left:30px;
}

hr{
    width:100%;
}


.be::before, .em::before, .insta::before, .snap::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    top: 7px;
    background-repeat: no-repeat;
}

.be::before{
	background-image: url("../img/ico/behance-solid.svg");
	
}

.em::before{
    background-image: url("../img/ico/envelope-solid.svg");

}
.insta::before{
    background-image: url("../img/ico/instagram-solid.svg");
}

.snap::before{
    background-image: url(../img/ico/instagram-solid.svg);
}

.hover-box:hover {
  transform: scale(1.5);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding:10px;
  }

/* LAYOUT */

.full-page-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
/*    background-color: grey;*/
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero{
/*    background-image: url(../img/placeholder.png);*/
}

#hero > ul {
    position: absolute;
    bottom:25px;
}

#hero > ul > li {
    display:inline;
    margin:0 5px 0 5px;
}

#about-intro{
    background-image: url(../img/background.png);
    -webkit-box-shadow: inset 40px 40px 126px #000000;
    box-shadow: inset 40px 40px 126px #000000;
}

#intro-text > p, #intro-text >h2{
    position: relative;
    width: 600px;
    text-align: center;
    justify-content: center;
    top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;	
}

#category-selection{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; /* Adjust based on design */
    margin: 0 auto;
    height: 100vh;
}
.bottombg {
    background-image: url(../img/fish-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	
}


.category-card {
    width: 100%;
    max-width: 250px;
    margin: 25px;
    min-height: 400px;
    max-height: 400px;
    border: 1px solid white;
}

.project-info{
    position:relative;
    top:300px;
    left:50px;
}

 /* Container to hold the video and any overlay content */
    .video-background {
      position: relative;
      width: 100vw;
      /* min-width: 1080px; */
      height: 100vh;
      overflow: hidden;
    }

    iframe {
        aspect-ratio: 16 / 9;
        /* height: auto; */
        /* width: 100%; */
    }
    /* Styling for the iframe to make it cover the full screen */
    .video-background iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;  /* Full viewport width */
      height: 100vh;  /* Full viewport height */
      transform: translate(-50%, -50%); /* Center the video */
      z-index: -1; /* Keeps video in the background */
      pointer-events: none; /* Prevents clicking on the video */
	  opacity: 35%;
    }

 

#project-1 {
    background-image: url(../img/placeholder.png);
}




/* tag colors */

.green{
    background-color:rgba(100, 125, 50, 1);
}

.othercolor{
    background-color:rgba(50, 125, 50, 1);
}

.tag {
    display: inline-block;
    /* border:1px solid white; */
    padding:5px 15px 5px 15px;
    border-radius:25px;
}

.cardbox{
    perspective: 500px;
    margin: 15px;
    padding-bottom: 10px;
}

 

.card{
    position: relative;
    border-radius: 5%; /* 모서리 */
    width: 250px;
    height: 400px;
    background: black;
    transform-style: preserve-3d;
    transition: 0.25s ease;
    box-shadow: 0 30px 30px 0 rgba(170,35,37,0.57);
    cursor : pointer;
    -webkit-box-shadow: 0 30px 30px 0 rgba(170,35,37,0.57);
}

 

 

.card-front , .card-back{

    position: absolute;

    top:0;

    left: 0;

    width: 250px;

    height: 400px;

    color: #fff;

    backface-visibility: hidden;

   

}

 

.card-front{

    font-size: 40px;

    justify-content: center;

    text-align: center;

    display: flex;

    align-items: center;

}

 

.card-back{

    font-size: 25px;

    justify-content: center;

    text-align: center;

    display: flex;

    align-items: center;

}

 

.cardbox:hover .card{

    transform: rotateY(180deg);

}

 

.card-back{

    transform: rotateY(180deg);

}

.bounce-in-fwd:hover
{
	-webkit-animation: bounce-in-fwd 1.1s both;
	        animation: bounce-in-fwd 1.1s both;
}
.imglook {
    padding-top: 29px;
}
#about-detail {
    background-image: url(../img/bgpaper.png);
    -webkit-box-shadow: inset 40px 40px 126px 0 #000000;
    box-shadow: inset 40px 40px 126px 0 #000000;
}

.shadobox {
    -webkit-box-shadow: 17px 30px 30px 0 rgba(170,35,37,0.57);
    box-shadow: 17px 30px 30px 0 rgba(170,35,37,0.57);
}
body main h1 {
    padding-top: 30px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-2 13:54:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@media (min-width : 0px ) and ( max-width : 480px ){

.sma-image{
width: 450px;
	height: 100vh;
	
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	}

	.sma-text{
    width: 450px;	
}
}



@media (min-width: 481px) and (max-width: 1024px){
}

@media (min-width:1025px){
}
